<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-cocktail-jv" >
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.photos" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.nb_people" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.difficulty" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cocktailjv_domain_model_recipe.prep_time" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>